/* BODY */
#Wordle {
    width: fit-content; margin: 0 auto 0;
}

/* HEADER */
header {
    margin: 10px auto; 
    border-bottom: 2px solid #dedede;
    font-size: 35px; text-align: center;
}

/* PUZZLE */
.puzzle {
    margin: 10px auto;
}
.row { 
    height: fit-content;
    position: relative;
}

.words {
    display: inline-block;
    width: 50px; height: 50px; margin: 2px;
    border: 2px solid black; border-radius: 10px;
    font-size: 30px; text-align: center;
}

/* ANSWER */
.sucs    { color: yellowgreen }
.warn    { color: gold }
.success { color: white; background-color: yellowgreen; }
.warning { color: white; background-color: gold; }

/* INPUT */
.button {
    width: 40px; height: 20px; padding: .3em; 
    background-color: #dedede; border-radius: .3em;
    font-size: 20px; text-align: center;
}