/* BODY */
#Wordle {
    width: fit-content;
}

/* HEADER */
header {
    margin: 10px auto; 
    border-bottom: 2px solid #dedede;
    font-size: 35px; 
}

/* PUZZLE */
.row { 
    position: relative;
    height: fit-content; margin-top: 5px;
}

.words {
    display: inline-block;
    width: 50px; height: 50px; margin: 2px;
    border: 2px solid black; border-radius: 10px;
    font-size: 30px; 
}

/* ANSWER */
.sucs    { color: yellowgreen }
.warn    { color: gold }
.success { color: white; background-color: yellowgreen; }
.warning { color: white; background-color: gold; }

/* INPUT */
.button {
    width: 40px; height: 20px; padding: .3em; 
    background-color: #dedede; border-radius: .3em;
    font-size: 20px; margin: 5px;
}


/* ITEM */
.item-center { margin-left: auto; margin-right: auto; }

/* TEXT */
.text-center { text-align: center; }